certifi==2025.10.5
chardet==5.2.0
click==8.3.0
Django==5.2.7
Flask==0.12
idna==2.7
itsdangerous==2.2.0
Jinja2==2.7.2
MarkupSafe==3.0.3
pytz==2025.2
PyYAML==6.0.3
requests==2.19.1
urllib3==1.23
Werkzeug==3.1.3
