name: Lint Python Code using Pylint on arbitrary push

on: 
  push:
    branches-ignore: 
      - main
    paths: 
      - '**.py'
      
jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: 
          - "3.12"
    steps:
    - name: Check out code
      uses: actions/checkout@v5
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Upgrade pip and install Pylint
      run: |
        python -m pip install --upgrade pip
        pip install pylint
    - name: Analysing the code with Pylint
      run: |
        pylint $(git ls-files '*.py')
